<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/index.css">
	<title></title>
</head>
<body>
  <h1 class="heading">Download Your Video</h1>
    <div class="home_div">
  <ul>
    <li><a class="neonText" href="/youdown">Download Youtube video</a></li>
    <li><a class="neonTextface" href="/facedown">Download Facebook video</a></li>
    <li><a class="neonTextinsta" href="/instadown">Download Instagram video</a></li>
  </ul>
</div>

</body>
</html>